@font-face {
  font-family: "Poppin";
  src: url(Fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppin-Bold";
  src: url(Fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: "Adlery";
  src: url(Fonts/Adlery_TRIAL.ttf);
}
@font-face {
  font-family: "Adam";
  src: url(Fonts/AdamScript.ttf);
}
* {
  margin: 0;
  padding: 0;
}
ion-icon {
  font-size: 30px;
}
:root {
  --clr: #cbcbcb;
}
div {
  width: 500px;
  justify-content: center;
  margin: auto;
}
.bgw {
  width: auto;
  position: relative;
  background-size: auto;
  background: var(--clr);
}
.bg {
  background-color: #cbcbcb;
  background-size: cover;
  position: relative;
  width: 500px;
}

/*BOTTOM BAR*/
.navbar {
  position: relative;
  width: 415px;
  height: 70px;
  background: #ff6e6e;
  opacity: 90%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.navbar ul {
  display: flex;
  width: 350px;
}
.navbar ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
  padding: 0 2em 0 2em;
}
.navbar ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}
.navbar ul li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  top: -8px;
  text-align: center;
  transition: 0.5s;
  color: #000000;
}
.navbar ul li.active a .icon {
  transform: translateY(-32px);
}
.navbar ul li a .text {
  position: absolute;
  color: #000000;
  font-weight: 700;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  text-align: center;
  transform: translateY(20px);
}
.navbar ul li.active a .text {
  opacity: 1;
  transform: translateY(6px);
}
.indicator {
  position: absolute;
  top: -50%;
  width: 70px;
  height: 70px;
  background: #29fd53;
  border-radius: 50%;
  border: 6px solid var(--clr);
  transition: 0.5s;
}
.indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 1px -10px 0 0 var(--clr);
}
.indicator::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-left-radius: 20px;
  box-shadow: -1px -10px 0 0 var(--clr);
}
.navbar ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(70px * 0));
}
.navbar ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(70px * 1));
}
.navbar ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(70px * 2));
}
.navbar ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(70px * 3));
}
.navbar ul li:nth-child(5).active ~ .indicator {
  transform: translateX(calc(70px * 4));
}
/*AKHIR BOTTOM BAR*/

/* HOME */
.home {
  background-image: url(img/Home.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom 35%;
  height: 800px;
  width: 500px;
}
.home-d1 {
  position: relative;
  width: 46px;
  height: 25px;
  margin: 0px 227px 10px 227px;
  top: 20px;

  font-family: "Adlery";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}
.home-d2 {
  position: relative;
  width: 340px;
  height: 46px;
  margin: 30px 80px 10px 80px;
  top: 5px;

  font-family: "Adam";
  font-style: normal;
  font-weight: 400;
  font-size: 90px;
  line-height: 80px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}
.home-d2 span {
  font-family: "Adlery";
  font-size: 50px;
  margin-left: 20px;
  margin-right: 20px;
}
.home-d3 {
  position: relative;
  width: 272px;
  height: 35px;
  top: -10px;
  margin: 30px 114px 0px 114px;

  font-family: "Adlery";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;

  color: #ffffff;
}
.home-m1 {
  /* Nur Chanif Choiri */

  position: relative;
  width: 338px;
  height: 37px;
  margin: 0px 81px 0px 81px;
  top: 360px;

  font-family: "Adlery";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 45px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.095em;

  color: #ddac17;
}
.home-m2 {
  /* & */

  position: relative;
  width: 28px;
  height: 28px;
  margin: 0px 236px 0px 236px;
  top: 375px;

  font-family: "Adlery";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 45px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ddac17;
}
.home-m3 {
  position: relative;
  width: 352px;
  height: 37px;
  margin: 0px 74px 0px 74px;
  top: 390px;

  font-family: "Adlery";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 45px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ddac17;
}
/* AKHIR HOME */

/* DATE */
.date {
  background-image: url(img/Date.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom 35%;
  height: 1000px;
  width: 500px;
  overflow: hidden;
}
.date-h {
  position: relative;
  width: 186px;
  height: 60px;
  top: 40px;
  margin: 0px 152px 0px 152px;

  font-family: "Adlery";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #e0bd00;
}
.date-d {
  position: relative;
  width: 270px;
  height: 83px;
  top: 45px;
  margin: 0px 115px 0px 115px;

  font-family: "Poppin-Bold";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}
.date-lokasi {
  position: relative;
  margin: 0px 170px 0 170px;
  top: 65px;
}
.date-cd {
  position: relative;
  top: 150px;
  justify-content: center;
  text-align: center;
  margin: auto;
  width: 325px;
  height: 73px;

  background: rgba(118, 22, 32, 0.7);
  box-shadow: 7px 6px 6px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
}
.date-cd h2 {
  position: relative;
  top: 20px;
  margin: 0px 15px 0 135px;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1px;
  color: #ffffff;
  font-family: "Poppin-Bold";
}
.date-cd div {
  position: relative;
  width: 110px;
  height: 41px;

  background: rgba(118, 22, 32, 0.7);
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
  text-align: start;
  padding-left: 20px;
  padding-top: 1px;
  left: -95px;
  top: -12.5px;
  font-size: x-large;
  color: #ffffff;
  font-family: "Poppin-Bold";
}
.date-cd h3 {
  position: relative;
  left: -73px;
  top: -45px;
  font-size: large;
  color: #ffffff;
  font-family: "Poppin-Bold";
}
/* AKHIR DATE */

/* RSVP */
.rsvp {
  position: relative;
  top: 200px;
  background: rgba(118, 22, 32, 0.7);
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  text-align: start;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  color: #ffffff;
  font-family: "Poppin";
  width: 450px;
}
.rsvp h1 {
  width: 76px;
  font-family: Poppin-Bold;
  margin: 0px 137px 10px 137px;
}
form,
input,
textarea,
button {
  font-family: inherit;
  font-size: initial;
}
.form-group {
  width: 350px;
}
.form-group label {
  display: block;
  margin: 0.5rem 0 0.25rem 0;
}
.form-group [type="text"],
.form-group [type="email"] {
  width: 350px;
  padding: 0.1rem;
  border: 1px solid rgba(118, 0, 0, 0.25);
  border-radius: 5px;
  background: #ffd9d9;
}
.form-group [class="hadir"] {
  width: 100px;
  padding: 0.1rem;
  border: 1px solid rgba(118, 0, 0, 0.25);
  border-radius: 5px;
  background: #ffd9d9;
}
.submit {
  font-family: "Poppin";
  background: #fd1d1d;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
  color: white;
  width: 90px;
  font-weight: bold;
  margin: 20px 130px 5px 130px;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  position: relative;
}
.submit:hover {
  background: #ff8787;
}
/* AKHIR RSVP*/

/* GALLERY*/
.galeri {
  background-image: url(img/Galeri.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom 35%;
  height: 600px;
  width: 500px;
}
.galeri h1 {
  position: relative;
  width: 254px;
  height: 37px;
  margin: 0px 123px 0px 123px;
  top: 527px;

  font-family: "Adlery";
  font-style: normal;
  font-weight: 550;
  font-size: 40px;
  line-height: 45px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.095em;

  color: #ffffff;
}
/* AKHIR GALLERY*/

/* DOA */
.doa {
  background-image: url(img/Doa.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom 35%;
  height: 900px;
  width: 500px;
}
.doa p {
  position: relative;
  width: 380px;
  height: 350px;
  margin: 100px 60px 0px 60px;
  top: 100px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}
/* AKHIR DOA */

/* KIRIM PESAN */
.pesan {
  width: 500px;
  height: 500px;
}
.kirimpesan {
  position: relative;
  top: 50px;
  background: rgba(118, 22, 32, 0.7);
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  text-align: start;
  padding-top: 15px;
  padding-left: 50px;
  padding-right: 50px;
  color: #ffffff;
  font-family: "Poppin";
  width: 450px;
}
.kirimpesan h3 {
  width: 350px;
  font-size: 24.7px;
  font-family: Poppin-Bold;
  margin: 0px 0px 10px 0px;
}
.form-g {
  width: 350px;
}
.form-g label {
  display: block;
  margin: 0.5rem 0 0.25rem 0;
}
.form-g [type="text"],
.form-g [type="email"],
.form-g textarea {
  width: 350px;
  padding: 0.1rem;
  border: 1px solid rgba(118, 0, 0, 0.25);
  border-radius: 5px;
  background: #ffd9d9;
}
.kirim {
  font-family: "Poppin";
  background: #fd1d1d;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
  color: white;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-left: 129px;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  position: relative;
}
.kirim:hover {
  background: #ff8787;
}
/* AKHIR KIRIM PESAN */

/* PENUTUP */
.penutup {
  width: 500px;
  height: 350px;
  text-align: center;
  justify-content: center;
}
.penutup p {
  padding: 50px 55px 50px 55px;
  line-height: normal;
  font-weight: 700;
  font-size: medium;
  font-family: "Poppin-Bold";
}
/* AKHIR PENUTUP */
@media screen and (min-width: 500px) {
  /* FOOTER */
  .foot {
    font-family: "Poppin";
  }
  .fot {
    padding-bottom: 120px;
  }
  /* AKHIR FOOTER */
}

@media screen and (max-width: 500px) {
  /* FOOTER */
  footer {
    width: 500px;
    position: relative;
  }
  .foot {
    font-family: "Poppin";
  }
  .fot {
    padding-bottom: 120px;
  }
  /* AKHIR FOOTER */
}
