@font-face {
  font-family: "CenteriaScript";
  src: url(Fonts/Adlery_TRIAL.ttf);
}
* {
  margin: 0;
  padding: 0;
}

div {
  width: 500px;
  justify-content: center;
  margin: auto;
}
.background {
  background: url(img/LandingPage.png);
  background-size: cover;
  width: auto;
  height: auto;
  position: relative;
}
.tulisan {
  background: url(img/LandingPage.png);
  background-size: auto;
  width: 500px;
  height: 1000px;
  background-repeat: no-repeat;
}
.buka {
  position: relative;
  top: 50px;
  left: 40px;
}
.sambut {
  /* Kepada Bapak/Ibu/Saudara/i */

  position: relative;
  width: 200px;
  height: 17px;
  top: 70px;
  margin-left: 50px;
  margin-right: 0px;
  margin-bottom: 10px;

  font-family: "Times New Roman";
  font-weight: 400;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
}
.nama {
  position: relative;
  width: 400px;
  height: 39px;
  margin-left: 50px;
  margin-bottom: 10px;
  top: 70px;

  font-family: "DM Serif Display";
  font-style: italic;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}
.undang {
  /* Tanpa Mengurangi Rasa Hormat, Kami Mengundang Anda Untuk Hadir Di Acara Pernikahan Kami */

  position: relative;
  width: 250px;
  height: 51px;
  margin-left: 50px;
  margin-bottom: 10px;
  top: 70px;

  font-family: "Times New Roman";
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;

  color: #ffffff;
}
.mempelai1 {
  /* Chanif */
  position: relative;
  width: 190px;
  height: 76px;
  margin-left: 250px;
  margin-bottom: 20px;
  top: 130px;

  font-family: "CenteriaScript";
  font-weight: 500;
  font-size: 75px;
  line-height: 80px;

  color: #ffffff;

  text-shadow: 15px 8px 5px rgba(0, 0, 0, 0.25);
}
.mempelai2 {
  /* & */

  position: relative;
  width: 54px;
  height: 81px;
  margin-left: 223px;
  margin-bottom: 20px;
  top: 125px;

  font-family: "CenteriaScript";
  font-weight: 500;
  font-size: 80px;
  line-height: 80px;

  color: #ffffff;

  text-shadow: 15px 8px 5px rgba(0, 0, 0, 0.25);
}
.mempelai3 {
  /* Qansanya */

  position: relative;
  width: 190px;
  height: 76px;
  margin-left: 30px;
  margin-bottom: 20px;
  top: 100px;

  font-family: "CenteriaScript";
  font-weight: 500;
  font-size: 70px;
  line-height: 80px;

  color: #ffffff;

  text-shadow: 15px 8px 5px rgba(0, 0, 0, 0.25);
}
.foot {
  font-family: "Times New Roman", Times, serif;
}
@media screen and (min-width: 500px) {
  /* FOOTER */
  .fot {
    padding-bottom: 10px;
  }
  /* AKHIR FOOTER */
}

@media screen and (max-width: 500px) {
  /* FOOTER */
  footer {
    width: 500px;
    position: relative;
  }
  .fot {
    padding-bottom: 10px;
  }
  /* AKHIR FOOTER */
}
