@font-face {
  font-family: "CenteriaScript";
  src: url(Fonts/Adlery_TRIAL.ttf);
}

* {
  margin: 0;
  padding: 0;
}

div {
  width: 500px;
  justify-content: center;
  margin: auto;
}
.background {
  background: url(img/LandingPage.png);
  background-size: cover;
  width: auto;
  height: auto;
  position: relative;
}
.tulisan {
  background: url(img/LandingPage.png);
  background-size: auto;
  width: 500px;
  height: 1000px;
  background-repeat: no-repeat;
}
.buka {
  position: relative;
  margin-left: 122.5px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 0px;
  top: 120px;
}
.sambut {
  /* Kepada Bapak/Ibu/Saudara/i */

  position: relative;
  width: 300px;
  height: 43px;
  top: 75px;
  padding-top: 10px;
  margin-left: 60px;
  margin-bottom: 0px;
  padding-bottom: 10px;

  font-family: "Times New Roman";
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}
.nama {
  position: relative;
  width: 400px;
  height: 59px;
  top: 75px;
  padding-top: 10px;
  margin-left: 60px;
  margin-bottom: 0px;
  padding-bottom: 10px;

  font-family: "Times New Roman";
  font-style: italic;
  font-weight: 700;
  font-size: 30px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}
.undang {
  /* Tanpa Mengurangi Rasa Hormat, Kami Mengundang Anda Untuk Hadir Di Acara Pernikahan Kami */

  position: relative;
  width: 280px;
  height: 93px;
  top: 75px;
  padding-top: 10px;
  margin-left: 60px;
  margin-bottom: 0px;
  padding-bottom: 10px;

  font-family: "Times New Roman";
  font-weight: 500;
  font-size: 18px;

  color: #ffffff;
}
.mempelai {
  /* Chanif */
  position: relative;
  width: 380px;
  height: 76px;
  margin-left: 60px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 0px;
  top: 75px;

  font-family: "CenteriaScript";
  font-weight: 500;
  font-size: 50px;
  line-height: 80px;

  color: #ffffff;

  text-shadow: 15px 8px 5px rgba(0, 0, 0, 0.25);
}
.foot {
  font-family: "Times New Roman", Times, serif;
}
@media screen and (min-width: 500px) {
  /* FOOTER */
  .fot {
    padding-bottom: 10px;
  }
  /* AKHIR FOOTER */
}

@media screen and (max-width: 500px) {
  /* FOOTER */
  footer {
    width: 500px;
    position: relative;
  }
  .fot {
    padding-bottom: 10px;
  }
  /* AKHIR FOOTER */
}
