@font-face {
  font-family: "CenteriaScript";
  src: url(Fonts/CenteriaScriptDemo.ttf);
}
* {
  margin: 0;
  padding: 0;
}
.background {
  background-color: #c45461;

  background-image: url(img/bg-lpage.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom 35%;
  height: 100vh;
  overflow: auto;
}
.buka {
  position: absolute;
  left: 20%;
  top: 7%;
}
.sambut {
  /* Kepada Bapak/Ibu/Saudara/i */

  position: absolute;
  width: 200px;
  height: 17px;
  left: 21%;
  top: 17%;

  font-family: "Times New Roman";
  font-style: bold;
  font-weight: 500;
  font-size: 17px;
  line-height: 17px;
  /* identical to box height */

  color: #ffffff;
}
.nama {
  /* Putri */

  position: absolute;
  width: 275px;
  height: 39px;
  left: 21%;
  top: 22%;

  font-family: "DM Serif Display";
  font-style: italic;
  font-weight: 700;
  font-size: 25px;
  line-height: 44px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}
.undang {
  /* Tanpa Mengurangi Rasa Hormat, Kami Mengundang Anda Untuk Hadir Di Acara Pernikahan Kami */

  position: absolute;
  width: 250px;
  height: 51px;
  left: 21%;
  top: 28%;

  font-family: "Times New Roman";
  font-style: bold;
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;

  color: #ffffff;
}

.mempelai1 {
  /* Chanif */
  position: absolute;
  width: 127px;
  height: 76px;
  left: 45%;
  top: 35%;

  font-family: "CenteriaScript";
  font-style: bold;
  font-weight: 500;
  font-size: 64px;
  line-height: 80px;

  color: #ffffff;

  text-shadow: 15px 8px 5px rgba(0, 0, 0, 0.25);
}
.mempelai2 {
  /* & */

  position: absolute;
  width: 66px;
  height: 81px;
  left: 48%;
  top: 45%;

  font-family: "CenteriaScript";
  font-style: bold;
  font-weight: 500;
  font-size: 64px;
  line-height: 80px;

  color: #ffffff;

  text-shadow: 15px 8px 5px rgba(0, 0, 0, 0.25);
}
.mempelai3 {
  /* Qansanya */

  position: absolute;
  width: 190px;
  height: 76px;
  right: 45%;
  top: 53%;

  font-family: "CenteriaScript";
  font-style: bold;
  font-weight: 500;
  font-size: 64px;
  line-height: 80px;

  color: #ffffff;

  text-shadow: 15px 8px 5px rgba(0, 0, 0, 0.25);
}
.foot {
  font-family: "Times New Roman", Times, serif;
}
.bg {
  background-color: #ffffff;
  background-size: auto;
  overflow: scroll;
}
.bgdiv1 {
  background-image: url(img/Home.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom 35%;
  height: 100vh;
  overflow: scroll;
}
.bgdiv2 {
  background-image: url(img/Div2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom 35%;
  height: 100vh;
  overflow: y;
}
.bgdiv3 {
  background-image: url(img/Div3.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom 35%;
  height: 100vh;
  overflow: y;
}
.bgdiv4 {
  background-image: url(img/Div4.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom 35%;
  height: 100vh;
  overflow: y;
}
.bgdiv5 {
  background-image: url(img/Div5.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom 35%;
  height: 100vh;
  overflow: y;
}
@media screen and (max-width: 1000px) {
  .buka {
    position: absolute;
    left: 17%;
    top: 7%;
  }
  .sambut {
    /* Kepada Bapak/Ibu/Saudara/i */

    position: absolute;
    width: 200px;
    height: 17px;
    left: 18%;
    top: 12%;

    font-family: "Times New Roman";
    font-style: bold;
    font-weight: 500;
    font-size: 17px;
    line-height: 17px;
    /* identical to box height */

    color: #ffffff;
  }
  .nama {
    /* Putri */

    position: absolute;
    width: 275px;
    height: 39px;
    left: 18%;
    top: 18%;

    font-family: "DM Serif Display";
    font-style: italic;
    font-weight: 700;
    font-size: 25px;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #ffffff;
  }
  .undang {
    /* Tanpa Mengurangi Rasa Hormat, Kami Mengundang Anda Untuk Hadir Di Acara Pernikahan Kami */

    position: absolute;
    width: 275px;
    height: 51px;
    left: 18%;
    top: 25%;

    font-family: "Times New Roman";
    font-style: bold;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;

    color: #ffffff;
  }

  .mempelai1 {
    /* Chanif */
    position: absolute;
    width: 127px;
    height: 76px;
    left: 50%;
    top: 33%;

    font-family: "CenteriaScript";
    font-style: bold;
    font-weight: 500;
    font-size: 100px;
    line-height: 80px;

    color: #ffffff;

    text-shadow: 15px 8px 5px rgba(0, 0, 0, 0.25);
  }
  .mempelai2 {
    /* & */

    position: absolute;
    width: 66px;
    height: 81px;
    left: 48%;
    top: 42%;

    font-family: "CenteriaScript";
    font-style: bold;
    font-weight: 500;
    font-size: 100px;
    line-height: 80px;

    color: #ffffff;

    text-shadow: 15px 8px 5px rgba(0, 0, 0, 0.25);
  }
  .mempelai3 {
    /* Qansanya */

    position: absolute;
    width: 190px;
    height: 76px;
    right: 60%;
    top: 50%;

    font-family: "CenteriaScript";
    font-style: bold;
    font-weight: 500;
    font-size: 100px;
    line-height: 80px;

    color: #ffffff;

    text-shadow: 15px 8px 5px rgba(0, 0, 0, 0.25);
  }
}
@media screen and (max-width: 500px) {
  .buka {
    position: absolute;
    left: 15%;
    top: 7%;
  }
  .sambut {
    /* Kepada Bapak/Ibu/Saudara/i */

    position: absolute;
    width: 200px;
    height: 17px;
    left: 16%;
    top: 15%;

    font-family: "Times New Roman";
    font-style: bold;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    color: #ffffff;
  }
  .nama {
    /* Putri */

    position: absolute;
    width: 235px;
    height: 39px;
    left: 16%;
    top: 18%;

    font-family: "DM Serif Display";
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #ffffff;
  }
  .undang {
    /* Tanpa Mengurangi Rasa Hormat, Kami Mengundang Anda Untuk Hadir Di Acara Pernikahan Kami */

    position: absolute;
    width: 200px;
    height: 51px;
    left: 16%;
    top: 24%;

    font-family: "Times New Roman";
    font-style: bold;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;

    color: #ffffff;
  }

  .mempelai1 {
    /* Chanif */
    position: absolute;
    width: 127px;
    height: 76px;
    left: 48%;
    top: 36%;

    font-family: "CenteriaScript";
    font-style: bold;
    font-weight: 500;
    font-size: 50px;
    line-height: 80px;

    color: #ffffff;

    text-shadow: 15px 8px 5px rgba(0, 0, 0, 0.25);
  }
  .mempelai2 {
    /* & */

    position: absolute;
    width: 66px;
    height: 81px;
    left: 48%;
    top: 45%;

    font-family: "CenteriaScript";
    font-style: bold;
    font-weight: 500;
    font-size: 50px;
    line-height: 80px;

    color: #ffffff;

    text-shadow: 15px 8px 5px rgba(0, 0, 0, 0.25);
  }
  .mempelai3 {
    /* Qansanya */

    position: absolute;
    width: 190px;
    height: 76px;
    right: 35%;
    top: 54%;

    font-family: "CenteriaScript";
    font-style: bold;
    font-weight: 500;
    font-size: 50px;
    line-height: 80px;

    color: #ffffff;

    text-shadow: 15px 8px 5px rgba(0, 0, 0, 0.25);
  }
}
